.h1{margin-top: 5%;
    margin-left: 40%;
padding: 1%;
display:inline-block;
background-color: aquamarine;

}
.hh{margin-top: 1%;
    margin-left: 46%;
    display: inline-block;
    background-color: pink;
    color:black;
    border: solid black 2px;
    padding: 1%;
}
.btn{margin-top: 1%;
margin-left: 48%;
padding: 1%;
display: inline-block;
background-color: silver;
cursor: pointer;
border: 2px solid black;
border-radius: 6px;
box-shadow:  5px 10px #888888 ;
}
.image{margin-left: 45%;
    margin-top: 10%;
    
}